/HoraDoSistema/nbproject/private/
/HoraDoSistema/build/
/IdiomaSistema/nbproject/private/
/IdiomaSistema/build/
/ResolucaoTela/nbproject/private/
/ResolucaoTela/build/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/dist/
/OlaMundoJavaFX/build/
/OlaMundoSwing/dist/
/RelogioSwing/nbproject/private/
/RelogioSwing/build/
/IdiomaSistemaSwing/nbproject/private/
/IdiomaSistemaSwing/build/
/ResolucaoTelaSwing/nbproject/private/
/ResolucaoTelaSwing/build/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/TesteTipos/nbproject/private/
/TesteTipos/build/
